annotated-types==0.7.0
anyio==4.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.2
cycler==0.12.1
fastapi==0.115.12
fonttools==4.58.1
h11>=0.16.0
idna==3.10
joblib==1.5.1
kiwisolver==1.4.8
kneed==0.8.5
markdown-it-py==3.0.0
matplotlib==3.10.3
mdurl==0.1.2
numpy==2.2.6
packaging==25.0
pandas==2.2.3
pillow==11.2.1
psutil==7.0.0
pydantic==2.11.5
pydantic_core==2.33.2
pyfiglet==1.0.2
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
rich==14.0.0
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
starlette==0.46.2
termcolor==3.1.0
threadpoolctl==3.6.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
unicorn==2.1.3
urllib3==2.4.0
uvicorn==0.34.2
